@inherits LayoutComponentBase
@inject first_web.Service.AuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>first-web</PageTitle>

@if (!IsLoginPage())
{
    <div class="page">
        <div class="sidebar">
            @if (AuthService.IsAuthenticated())
            {
                <NavMenu />
            }
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{
    // Render the login page without the sidebar and header
    <div class="full-page-login">
        @Body
    </div>
}

@code {
    private bool IsLoginPage()
    {
        // Check if the current URI is the login page
        return NavigationManager.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase);
    }
}